.notebook-stage {
  --side-marker-outset: 104px;
  --notebook-outer-gap: 16px;
  --spiral-left: -33px;
  --spiral-column-width: 104px;
  --spiral-image-width: 78px;
  --spiral-gap: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--notebook-outer-gap);
  padding-bottom: var(--notebook-outer-gap);
  transform: none;
  width: calc(100% - 24px);
  min-width: 1280px;
  max-width: 1380px;
  left: calc(var(--side-marker-outset) / -2);
}

.notebook-container {
  position: relative;
  overflow: visible;
  padding-left: calc(var(--spiral-column-width) + var(--spiral-left) + var(--spiral-gap)) !important;
  z-index: 10;
  background-color: #fff;
  background-image: linear-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 100% 24px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
}

.paper-texture {
  background-color: #fffcf0;
  background-image: url("../assets/images/natural-paper.png");
}
